label{
  min-width: 100px;
  display: inline-block;
}
.input:not(:last-child){
  margin-bottom: 10px;
}
small{
  color: red;
  padding-left: 10px;
}
.form{
  //border: 1px solid black;
  border-radius: 15px;
  padding: 30px 20px;
  margin-bottom: 10px;
}
.header{
  margin: 0 0 20px 0;
}

.skill{
  border-top: 1px solid black;
  padding: 20px 0;
}
