.blue{
    color: white;
    background-color: blue;
}
.green{
    color: white;
    background-color: green;
}
.red{
    color: white;
    background-color: red;
}

.small{
    height: 20px;
    width: 70px;
}
.large{
    height: 40px;
    width: 140px;
}