<p>{{ myUppercase | uppercase }}</p>
<p>{{ myTitlecase | titlecase }}</p>
<p>{{ myLowercase | lowercase }}</p>
<p>{{ myPercent | percent }}</p>
<p>{{ myCurrency | currency }}</p>
<p>{{ myDate | date : "short" }}</p>
<p>{{ myDate | date : "medium" }}</p>
<p>{{ myDate | date : "long" }}</p>
<p>{{ myDate | date : "full" }}</p>
<p>{{ myDate | date : "shortDate" }}</p>
<p>{{ myDate | date : "mediumDate" }}</p>
<p>{{ myDate | date : "longDate" }}</p>
<p>{{ myDate | date : "fullDate" }}</p>
<p>{{ myDate | date : "shortTime" }}</p>
<p>{{ myDate | date : "mediumTime" }}</p>
<p>{{ myDate | date : "longTime" }}</p>
<p>{{ myDate | date : "fullTime" }}</p>
<!-- https://angular.dev/api/common/DatePipe?tab=usage-notes -->
<p>Custom: {{ myDate | date : "MMMM d, y, h:mm:ss" }}</p>
