<h1>Angular Modules (Модулі в Angular)</h1>
<p>У Angular модулі потрібні для організації коду та керування залежностями. Вони допомагають структурувати проєкт, роблячи його гнучким та масштабованим.</p>
<h2>Що таке модуль у Angular?</h2>
<p>
Модуль – це контейнер для компонентів, сервісів, директив, пайпів та інших сутностей. Основний модуль будь-якого Angular-застосунку – AppModule (app.module.ts).</p>
<h3>Ось як виглядає стандартний модуль:</h3>
<pre>import &#123; NgModule &#125; from '&#64;angular/core';
import &#123; BrowserModule &#125; from '&#64;angular/platform-browser';
import &#123; AppComponent &#125; from './app.component';

  &#64;NgModule(&#123;
    declarations: [ // Тут реєструємо компоненти, директиви та пайпи
    AppComponent
  ],
  imports: [ // Тут імпортуємо інші модулі
    BrowserModule
  ],
  providers: [], // Тут реєструємо сервіси
  bootstrap: [AppComponent] // Вказуємо, який компонент запускає застосунок
  &#125;)

export class AppModule &#123; &#125;
</pre>

<h2>Основні властивості &#64;NgModule</h2>
<ul>
  <li><b>declarations</b> – сюди додаємо компоненти, директиви та пайпи, які належать цьому модулю.

    <p>Щоб Angular знав про ці компоненти, вони мають бути тут оголошені.</p>
    <p>Компоненти в одному модулі бачать лише ті компоненти, які теж оголошені в цьому ж модулі (або в імпортованому модулі).</p>
  </li>
  <li><b>imports</b> – сюди додаємо інші модулі, які нам потрібні в цьому модулі.

    <p>Наприклад, якщо ти хочеш використовувати ngIf чи ngFor, тобі потрібен CommonModule.</p>
    <p>Якщо у тебе є окремий UserModule, його треба імпортувати в AppModule, щоб працювали його компоненти.</p></li>
  <li><b>providers</b> – тут реєструємо сервіси та інші глобальні залежності.

    <p>Якщо додати сервіс у providers, він буде доступний для всіх компонентів у цьому модулі.</p>
    <p>Якщо написати providedIn: 'root' у сервісі – його не потрібно додавати в providers, Angular сам зробить його глобальним.</p>
  </li>
  <li><b>bootstrap</b> – використовується тільки в кореневому модулі (зазвичай AppModule) і визначає основний компонент, який буде відрендерений першим при запуску застосунку.
    <p>У звичайних модулях (не AppModule) bootstrap не використовується.</p>
  </li>
  <li>
    <b>exports</b> - якщо ти хочеш використовувати компонент, директиву або пайп з одного модуля в іншому, ти повинен додати його туди.
    <p>exports працює тільки з деклараціями (declarations). Ти не можеш експортувати сервіси або інші модулі.</p>
  </li>
</ul>

<ng-container *ngIf="!someBoolean">
    <ng-container *ngTemplateOutlet="secret"></ng-container>
</ng-container>

<ng-template #secret>
  <h1>Для того, щоб все працювало - не забудь підключити модуль в app.component.ts/app.module.ts</h1>
</ng-template>
