<h1>Angular Notebook</h1>
<nav>
  <ul class="router">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Головна</a
      >
    </li>
    <li>
      <a
        routerLink="/main-commands"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Основні команди</a
      >
    </li>
    <li>
      <a
        routerLink="/interpolation"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Інтерполяція</a
      >
    </li>
    <li>
      <a
        routerLink="/structure-directives"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Структурні директиви (&#64;if, &#64;for, &#64;switch)</a
      >
    </li>
    <li>
      <a
        routerLink="/attribute-directives"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Атрибутні директиви (ngStyle, ngClass)
      </a>
    </li>
    <li>
      <a
        routerLink="/pipes"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Вбудовані пайпи (date, titlecase, uppercase, lowercase, percent,
        currency)
      </a>
    </li>
    <!-- <li>
      <a
        routerLink="/input-output-page"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >&#64;Input, &#64;Output</a
      >
    </li> -->
    <li>
      <a
        routerLink="/input-output-page"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >&#64;Input/&#64;Output</a
      >
    </li>
    <li>
      <a
        routerLink="/ng-model"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >NgModel</a
      >
    </li>
    <li>
      <a
        routerLink="/constructor-ngoninit-ngondestroy"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Lifecycle</a
      >
    </li>
    <li>
      <a
        routerLink="/get-data-from-api"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Отримання даних зі стороннього API</a
      >
    </li>
    <li>
      <a
        routerLink="/services"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Services</a
      >
    </li>
    <li>
      <a
        routerLink="/reactive-forms"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Reactive Forms</a
      >
    </li>
    <li>
      <a
        routerLink="/home-work-button"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home-Work #1</a
      >
    </li>
    <li>
      <a
        routerLink="/home-work-dropdown"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Home-Work #2</a
      >
    </li>
    <li>
      <a
        routerLink="/homework-services"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Home-Work #3</a
      >
    </li>
    <li>
      <a
        routerLink="/homework-reactive-forms"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Home-Work #4</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
