.form-options {

    &>*{
        min-width: 100px;
        display: block;
        margin-bottom: 10px;
    }
    // .form-options__font-size

    &__font-size {
        
    }

    // .form-options__color

    &__color {
    }

    // .form-options__background

    &__background {
    }

    // .form-options__text

    &__text {
         
    }
}