<h1>Angular CLI (Командний інтерфейс Angular)</h1>
<p>Angular CLI – це інструмент для автоматизації створення компонентів, сервісів, модулів та запуску застосунку.</p>
<h2>
  Основні команди
</h2>
<p>
  <b>ng new project-name</b>
  <i> – створює новий Angular-проєкт.</i>
</p>
<p>
  <b>ng serve</b>
  <i> – запускає локальний сервер для розробки.</i>
</p>
<p>
  <b>ng generate component component-name</b> або
  <b>ng g c component-name</b>
  <i> – створює компонент.</i>
</p>
<p>
  <b>ng generate module module-name</b> або
  <b>ng g m module-name</b>
  <i> – створює модуль.</i>
</p>
<p>
  <b>ng generate service service-name</b> або
  <b>ng g s service-name</b>
  <i> – створює сервіс.</i>
</p>
<p>
  <b>ng build --prod</b>
  <i> – збирає проєкт для продакшену.</i>
</p>
