<p>
  <b>ngModel</b> в Angular використовується для двостороннього зв’язку даних між формою та моделлю. Він належить до модуля FormsModule, який потрібно імпортувати, щоб використовувати директиву ngModel.
</p>
<p>
  <b>Основні концепції:</b>
  Двостороннє зв’язування
</p>
<p>
  ngModel дозволяє автоматично синхронізувати значення між змінною компонента та елементом форми.
</p>
<p>
  Використовується з [()] (так звана "banana in a box" нотація).
</p>
<h2>{{incomingTitle}}</h2>
<input type="text" [(ngModel)]="incomingTitle" (keyup)="changeTitle()">
